@import 'parallax';
@import 'backgrounds';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 24px/36px sans-serif;
}

.main-content {
  @include parallax-container;
}

.content-group {
  @include parallax-group;
}

.billboard-image {
  @include parallax-layer;
  @include parallax-background;
  @include motorcycle;
  height: 100vh;
  top: 0;
  bottom: 0;
}

.billboard-content {
  @include parallax-layer;
  @include parallax-content;
  height: 80%;
  top: 0;
}

.billboard-link-wrapper {
  position: relative;
  height: 50vh;
  top: 25vh;
  border-bottom: 6px solid rgba(255, 255, 255, .4);
}

.billboard-link {
  @include shadow-gradient;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  text-decoration: none;

  width: 100%;
  padding: 20px;
  bottom: 0;

  &:hover {
    text-decoration: underline;
  }
}

.billboard-link-title {
  margin: 0;
  font-size: 4rem;
  line-height: 6rem;
}

.billboard-link-text {
  font-size: 3rem;
  line-height: 4.5rem;
}

.content-section {
  height: 50vh;
  @include radial-grey;
  position: relative;
  bottom: -25vh;
}
