@mixin parallax-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  perspective-origin-x: 100%;
}

@mixin parallax-group {
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
}

@mixin parallax-layer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin-x: 100%;
}

@mixin parallax-base {
  transform: translateZ(0);
}

@mixin parallax-background {
  transform: translateZ(-1px) scale(2);
}
