body {
  margin: 0;
  padding: 0;
  font: normal 16px/20px sans-serif;
}

.clearfix:after {
  display: block;
  clear: both;
  content: " ";
  height: 0;
  visibility: hidden;
}

.table {
  display: table;
  height: 100%;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

section {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100vw;
}

.parallax-container .image {
  background-image: url('assets/OEM-a1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.content {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  color: white;
  height: auto;
  margin: 0;
  padding: 0 5vw 5rem;
}

.content a {
  color: white;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.content h2 {
  font-size: 5rem;
  line-height: 7rem;
  margin: 0;
}

.content span {
  font-size: 3.5rem;
  line-height: 5rem;
}

.content-container {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 69%, rgba(212, 212, 212, 1) 100%);
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0 10vw;
  width: 100%;
}

.content-inner {
  box-sizing: border-box;
  float: left;
  margin: 0;
  width: 50%;
}

.content-container .image {
  background: url('assets/kitten.jpg');
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.content-container h3 {
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: .25em;
}

.content--container span {
  font-size: 1rem;
  line-height: 2.5rem;
}

.content-container a {
  color: skyblue;
  display: block;
  font-size: 1.5rem;
  line-height: 3rem;
  text-decoration: none;
}

.content-container a:hover {
  text-decoration: underline;
}

.content-container a:after {
  color: skyblue;
  content: '>';
  display: inline-block;
  font-size: .8rem;
  margin-left: .5rem;
}
